.card-header:first-child {
    border-radius: 0;
}

.chatcontainer {
    position: absolute;
    border-color: #062849;
    border-width: 10px;
    border-style: solid;
    height: 330px; 
    width: 22%;
    right: 0;
    bottom: 0;
}

.text-header {
    background-color: #062849;
    text-align: center;
    border-color: #062849;
}