<li id="id-utilisateur-{{ abonne.id }}">
    <figure>
        <img src="{{ abonne.photo_de_profile.url }}"
             alt="{{ abonne.photo_de_profile.name }}">
    </figure>
    <div class="friend-meta">
        {% csrf_token %}
        <h4>
            <a href="{% url 'profil:view_profil' abonne.id %}">{{ abonne.user.first_name }}</a>
        </h4>
        {% if abonne != request.user.utilisateur %}
            {% if abonne in request.user.utilisateur.abonnements.all %}
                <span class="abonne"
                      data-toggle="tooltip"
                      title="Abonné"
                      data-pk="{{ abonne.id }}"
                      class="underline">Abonné</span>
                <br />
                <span class="delete_friend"
                      data-toggle="tooltip"
                      title="Se désabonner"
                      data-pk="{{ abonne.id }}"
                      class="underline">Se désabonner</span>
            {% else %}
                <span class="add_friend"
                      data-toggle="tooltip"
                      title="S'abonner"
                      data-pk="{{ abonne.id }}"
                      class="underline">
                    S'abonner
                </span>
            {% endif %}
        {% endif %}
    </div>
</li>
