<li>
    <figure>
        <img src="{{ abonne.photo_de_profile.url }}" alt="{{ abonne.photo_de_profile.name }}">
    </figure>
    <div class="friend-meta">
        <h4>
            {% comment %} {% url 'profil:home' utilisateur_id=abonnement.id %} {% endcomment %}
            <a href="">{{ abonne.get_full_name }}</a>
        </h4>
        {% comment %} {% url 'home:add_friend' utilisateur_id=abonne.id %} {% endcomment %}
        <a href="home:add_friend" title="" class="underline">Ajouter</a>
    </div>
</li>