<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-4">
                <div class="widget">
                    <div class="widget-title">
                        <h4>
                            Réseaux des Auteurs
                        </h4>
                    </div>
                    <ul class="list-style">
                        <li>
                            <i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/remi-dasilva/" title="dasilvaremi">M. Rémi Da Silva</a>
                        </li>
                        <li>
                            <i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/gaochanggg/" title="gaochang">Mme Chang Gao</a>
                        </li>
                        <li>
                            <i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/ouahib-moussi/" title="moussiouahib">M. Ouahib Moussi</a>
                        </li>
                        <li>
                            <i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/ayoubbenheddi/" title="benheddiayoub">M. Ayoub Benheddi</a>
                        </li>
                        <li>
                            <i class="fa fa-github"></i> <a href="https://github.com/IlyesBel" title="belkadiilyes">M. Ilyes Belkadi</a>
                        </li>
                        <li>
                            <i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/etienne-chevet-3701831a1/" title="chevetetienne">M. Etienne Chevet</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="widget">
                    <div class="widget-title">
                        <h4>
                            Autres réseaux
                        </h4>
                    </div>
                    <ul class="list-style">
                        <li>
                            <i class="fa fa-building"></i> <a href="https://www.esiee.fr" title="ESIEE PARIS">Site d'ESIEE PARIS</a>
                        </li>
                        <li>
                            <i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/benjaminraynal/" title="Benjamin Raynal">M. Benjamin Raynal</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="widget">
                    <div class="widget-title">
                        <h4>
                            Pages
                        </h4>
                    </div>
                    <ul class="list-style">
                        <li>
                            <a href="{% url 'home:home_view' %}" title="accueil">Accueil</a>
                        </li>
                        <li>
                            <a href="#" title="profil">Mon profil</a>
                        </li>
                        <li>
                            <a href="{% url 'esieechat:select' %}" title="chat">ESIEE CHAT</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="widget">
                    <div class="widget-title">
                        <h4>
                            Télécharger l'application
                        </h4>
                    </div>
                    <ul class="colla-apps">
                        <li>
                            <a href="https://github.com/djangounchainedesiee/esieeverse" title="Code source de l'application" target="_blank"><i class="fa fa-github"></i>Github</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>