<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>EsieeVerse</title>
        <link rel="icon"
              href="{% static 'images/fav.png' %}"
              type="image/png"
              sizes="16x16">
        <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/add_friend.css' %}">
        <link rel="stylesheet" href="{% static 'css/color.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!--<div class="se-pre-con"></div>-->
        <div class="theme-layout">
            <div class="responsive-header">
                <div class="mh-head first Sticky">
                    <span class="mh-btns-left">
                        <a class="" href="#"><i class="fa fa-align-justify"></i></a>
                    </span>
                    <span class="mh-text">
                        <a href="#">
                            <img src="{% static 'images/logo2.png' %}" alt="">
                        </a>
                    </span>
                    <span class="mh-btns-right">
                        <a class="fa fa-sliders" href="#"></a>
                    </span>
                </div>
                <div class="mh-head second">
                    <form class="mh-form">
                        <input placeholder="search" />
                        <a href="#" class="fa fa-search"></a>
                    </form>
                </div>
                <nav id="menu" class="res-menu">
                    <ul>
                        <li>
                            <span>Home</span>
                            <ul>
                                <li>
                                    <a href="#" title="">Home Social</a>
                                </li>
                                <li>
                                    <a href="#" title="">Home Social 2</a>
                                </li>
                                <li>
                                    <a href="#" title="">Home Company</a>
                                </li>
                                <li>
                                    <a href="#" title="">Login page</a>
                                </li>
                                <li>
                                    <a href="#" title="">Logout Page</a>
                                </li>
                                <li>
                                    <a href="#" title="">news feed</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>Time Line</span>
                            <ul>
                                <li>
                                    <a href="#" title="">timeline</a>
                                </li>
                                <li>
                                    <a href="#" title="">timeline friends</a>
                                </li>
                                <li>
                                    <a href="#" title="">timeline groups</a>
                                </li>
                                <li>
                                    <a href="#" title="">timeline pages</a>
                                </li>
                                <li>
                                    <a href="#" title="">timeline photos</a>
                                </li>
                                <li>
                                    <a href="#" title="">timeline videos</a>
                                </li>
                                <li>
                                    <a href="#" title="">favourit page</a>
                                </li>
                                <li>
                                    <a href="#" title="">groups page</a>
                                </li>
                                <li>
                                    <a href="#" title="">Likes page</a>
                                </li>
                                <li>
                                    <a href="#" title="">people nearby</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>Account Setting</span>
                            <ul>
                                <li>
                                    <a href="#" title="">create fav page</a>
                                </li>
                                <li>
                                    <a href="#" title="">edit account setting</a>
                                </li>
                                <li>
                                    <a href="#" title="">edit-interest</a>
                                </li>
                                <li>
                                    <a href="#" title="">edit-password</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>forum</span>
                            <ul>
                                <li>
                                    <a href="#" title="">Forum Page</a>
                                </li>
                                <li>
                                    <a href="#" title="">Fourm Category</a>
                                </li>
                                <li>
                                    <a href="#" title="">Forum Open Topic</a>
                                </li>
                                <li>
                                    <a href="#" title="">Forum Create Topic</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>Our Shop</span>
                            <ul>
                                <li>
                                    <a href="#" title="">Shop Products</a>
                                </li>
                                <li>
                                    <a href="#" title="">Shop Masonry Products</a>
                                </li>
                                <li>
                                    <a href="#" title="">Shop Detail Page</a>
                                </li>
                                <li>
                                    <a href="#" title="">Shop Product Cart</a>
                                </li>
                                <li>
                                    <a href="#" title="">Product Checkout</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>Our Blog</span>
                            <ul>
                                <li>
                                    <a href="#" title="">Our Blog</a>
                                </li>
                                <li>
                                    <a href="#" title="">Blog with R-Sidebar</a>
                                </li>
                                <li>
                                    <a href="#" title="">Blog with L-Sidebar</a>
                                </li>
                                <li>
                                    <a href="#" title="">Blog Masonry Style</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>Portfolio</span>
                            <ul>
                                <li>
                                    <a href="#" title="">Portfolio 2col</a>
                                </li>
                                <li>
                                    <a href="#" title="">Portfolio 3col</a>
                                </li>
                                <li>
                                    <a href="#" title="">Portfolio 4col</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>Support & Help</span>
                            <ul>
                                <li>
                                    <a href="#" title="">Support & Help</a>
                                </li>
                                <li>
                                    <a href="#" title="">Support & Help Detail</a>
                                </li>
                                <li>
                                    <a href="#" title="">Support & Help Search Result</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span>More pages</span>
                            <ul>
                                <li>
                                    <a href="#" title="">Careers</a>
                                </li>
                                <li>
                                    <a href="#" title="">Career Detail</a>
                                </li>
                                <li>
                                    <a href="#" title="">404 error page</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="">about</a>
                        </li>
                        <li>
                            <a href="#" title="">About Us2</a>
                        </li>
                        <li>
                            <a href="#" title="">contact</a>
                        </li>
                        <li>
                            <a href="#" title="">Contact Us2</a>
                        </li>
                        <li>
                            <a href="#" title="">Widgts</a>
                        </li>
                    </ul>
                </nav>
                <nav id="shoppingbag">
                    <div>
                        <div class="">
                            <form method="post">
                                <div class="setting-row">
                                    <span>use night mode</span>
                                    <input type="checkbox" id="nightmode"/>
                                    <label for="nightmode" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                                <div class="setting-row">
                                    <span>Notifications</span>
                                    <input type="checkbox" id="switch2"/>
                                    <label for="switch2" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                                <div class="setting-row">
                                    <span>Notification sound</span>
                                    <input type="checkbox" id="switch3"/>
                                    <label for="switch3" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                                <div class="setting-row">
                                    <span>My profile</span>
                                    <input type="checkbox" id="switch4"/>
                                    <label for="switch4" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                                <div class="setting-row">
                                    <span>Show profile</span>
                                    <input type="checkbox" id="switch5"/>
                                    <label for="switch5" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                            </form>
                            <h4 class="panel-title">
                                Account Setting
                            </h4>
                            <form method="post">
                                <div class="setting-row">
                                    <span>Sub users</span>
                                    <input type="checkbox" id="switch6" />
                                    <label for="switch6" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                                <div class="setting-row">
                                    <span>personal account</span>
                                    <input type="checkbox" id="switch7" />
                                    <label for="switch7" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                                <div class="setting-row">
                                    <span>Business account</span>
                                    <input type="checkbox" id="switch8" />
                                    <label for="switch8" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                                <div class="setting-row">
                                    <span>Show me online</span>
                                    <input type="checkbox" id="switch9" />
                                    <label for="switch9" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                                <div class="setting-row">
                                    <span>Delete history</span>
                                    <input type="checkbox" id="switch10" />
                                    <label for="switch10" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                                <div class="setting-row">
                                    <span>Expose author name</span>
                                    <input type="checkbox" id="switch11" />
                                    <label for="switch11" data-on-label="ON" data-off-label="OFF">
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
            <!-- responsive header -->
            {% include 'home/topbar.html' %}
            <!-- topbar -->
            <section>
                <div class="gap gray-bg">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row" id="page-contents">
                                    <div class="col-lg-3">
                                        <aside class="sidebar static">
                                            <div class="widget">
                                                <h4 class="widget-title">
                                                    Shortcuts
                                                </h4>
                                                <ul class="naves">
                                                    <li>
                                                        <i class="ti-clipboard"></i>
                                                        <a href="{% url 'home:home_view' %}" title="Accueil">Fil d'actualité</a>
                                                    </li>
                                                    <li>
                                                        <i class="ti-files"></i>
                                                        <a href="#" title="Profil">Mon profil</a>
                                                    </li>
                                                    <li>
                                                        <i class="ti-user"></i>
                                                        <a href="#" title="">Mes amis</a>
                                                    </li>
                                                    <li>
                                                        <i class="ti-comments-smiley"></i>
                                                        <a href="{% url 'esieechat:select' %}" title="">Messages</a>
                                                    </li>
                                                    <li>
                                                        <i class="ti-bell"></i>
                                                        <a href="#" title="">Notifications</a>
                                                    </li>
                                                    <li>
                                                        <i class="ti-power-off"></i>
                                                        <a href="{% url 'auth:logout' %}" title="Deconnexion">Déconnexion</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Shortcuts -->
                                            <div class="widget stick-widget">
                                                <h4 class="widget-title">
                                                    Mes Abonnés
                                                </h4>
                                                <ul class="followers">
                                                    {% for abonne in abonnes %}
                                                    {% include 'home/abonne.html' %}
                                                    {% endfor %}
                                                    <script src="{% static 'js/abonne.js' %}"></script>
                                                </ul>
                                            </div>
                                            <!-- who's following -->
                                        </aside>
                                    </div>
                                    <!-- sidebar -->
                                    <div class="col-lg-6">
                                        <div class="central-meta">
                                            <div class="new-postbox">
                                                <figure>
                                                    <img src="" alt="">
                                                </figure>
                                                <div class="newpst-input">
                                                    <form method="post">
                                                        <label>Title: </label>
                                                        <input type="text" id="post_title" name="post_title"><br>
                                                        <label>Post content: </label><br>
                                                        <textarea rows="2" id="post_content" placeholder="write something"></textarea>
                                                        <div class="attachments">
                                                            <ul>
                                                                <li>
                                                                    <i class="fa fa-music"></i>
                                                                    <label class="fileContainer">
                                                                        <input type="file">
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <i class="fa fa-image"></i>
                                                                    <label class="fileContainer">
                                                                        <input type="file">
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <i class="fa fa-video-camera"></i>
                                                                    <label class="fileContainer">
                                                                        <input type="file">
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <i class="fa fa-camera"></i>
                                                                    <label class="fileContainer">
                                                                        <input type="file">
                                                                    </label>
                                                                </li>
                                                                <li>
                                                                    <button type="submit">
                                                                        Post
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- add post new box -->
                                        <div class="loadMore">
                                            {% for evenement in evenements %}
                                            {% include "home/evenement.html" %}
                                            {% endfor %}
                                            {% for publication in publications %}
                                            {% include "home/publication.html" %}
                                            {% endfor %}
                                            <script src="{% static 'js/publication.js' %}"></script>
                                        </div>
                                    </div>
                                    <!-- centerl meta -->
                                    <div class="col-lg-3">
                                        <aside class="sidebar static">
                                            <div class="widget">
                                                <h4 class="widget-title">
                                                    Your page
                                                </h4>
                                                <div class="your-page">
                                                    <figure>
                                                        <a href="#" title="">
                                                            <img src="" alt="">
                                                        </a>
                                                    </figure>
                                                    <div class="page-meta">
                                                        <a href="#" title="" class="underline">OUAHIB LE HIBOU</a>
                                                        <span><i class="ti-comment"></i><a href="#" title="">Messages <em>9</em></a></span>
                                                        <span><i class="ti-bell"></i><a href="#" title="">Notifications <em>2</em></a></span>
                                                    </div>
                                                    <div class="page-likes">
                                                        <ul class="nav nav-tabs likes-btn">
                                                            <li class="nav-item">
                                                                <a class="active" href="#" data-toggle="tab">likes</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="" href="#" data-toggle="tab">views</a>
                                                            </li>
                                                        </ul>
                                                        <!-- Tab panes -->
                                                        <div class="tab-content">
                                                            <div class="tab-pane active fade show " id="link1">
                                                                <span><i class="ti-heart"></i>884</span>
                                                                <a href="#" title="weekly-likes">35 new likes this week</a>
                                                                <div class="users-thumb-list">
                                                                    <a href="#" title="Anderw" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="frank" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="Sara" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="Amy" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="Ema" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="Sophie" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="Maria" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="link2">
                                                                <span><i class="ti-eye"></i>440</span>
                                                                <a href="#" title="weekly-likes">440 new views this week</a>
                                                                <div class="users-thumb-list">
                                                                    <a href="#" title="Anderw" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="frank" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="Sara" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="Amy" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="Ema" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="Sophie" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                    <a href="#" title="Maria" data-toggle="tooltip">
                                                                        <img src="" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget friend-list stick-widget">
                                                <h4 class="widget-title">
                                                    Mes abonnements
                                                </h4>
                                                <ul id="people-list" class="friendz-list">
                                                    {% for abonnement in request.user.utilisateur.abonnements.all %}
                                                        {% include 'home/abonnement.html' %}
                                                    {% endfor %}
                                                </ul>
                                                <div class="chat-box">
                                                    <div class="chat-head">
                                                        <span class="status f-online"></span>
                                                        <h6>
                                                            Iron man
                                                        </h6>
                                                        <div class="more">
                                                            <span><i class="ti-more-alt"></i></span>
                                                            <span class="close-mesage"><i class="ti-close"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="chat-list">
                                                        <ul>
                                                            <li class="me">
                                                                <div class="chat-thumb">
                                                                    <img src="" alt="">
                                                                </div>
                                                                <div class="notification-event">
                                                                    <span class="chat-message-item">
                                                                        Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                                                                    </span>
                                                                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                                </div>
                                                            </li>
                                                            <li class="you">
                                                                <div class="chat-thumb">
                                                                    <img src="" alt="">
                                                                </div>
                                                                <div class="notification-event">
                                                                    <span class="chat-message-item">
                                                                        Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                                                                    </span>
                                                                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                                </div>
                                                            </li>
                                                            <li class="me">
                                                                <div class="chat-thumb">
                                                                    <img src="" alt="">
                                                                </div>
                                                                <div class="notification-event">
                                                                    <span class="chat-message-item">
                                                                        Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
                                                                    </span>
                                                                    <span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                        <form class="text-box">
                                                            <textarea placeholder="Post enter to post..."></textarea>
                                                            <div class="add-smiles">
                                                                <span title="add icon" class="em em-expressionless"></span>
                                                            </div>
                                                            <div class="smiles-bunch">
                                                                <i class="em em---1"></i>
                                                                <i class="em em-smiley"></i>
                                                                <i class="em em-anguished"></i>
                                                                <i class="em em-laughing"></i>
                                                                <i class="em em-angry"></i>
                                                                <i class="em em-astonished"></i>
                                                                <i class="em em-blush"></i>
                                                                <i class="em em-disappointed"></i>
                                                                <i class="em em-worried"></i>
                                                                <i class="em em-kissing_heart"></i>
                                                                <i class="em em-rage"></i>
                                                                <i class="em em-stuck_out_tongue"></i>
                                                            </div>
                                                            <button type="submit">
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- friends list sidebar -->
                                        </aside>
                                    </div>
                                    <!-- sidebar -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-4">
                            <div class="widget">
                                <div class="widget-title">
                                    <h4>
                                        follow
                                    </h4>
                                </div>
                                <ul class="list-style">
                                    <li>
                                        <i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title="">facebook</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="">Google+</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <div class="widget">
                                <div class="widget-title">
                                    <h4>
                                        Navigate
                                    </h4>
                                </div>
                                <ul class="list-style">
                                    <li>
                                        <a href="#" title="">about us</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">contact us</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">terms & Conditions</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">RSS syndication</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">Sitemap</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <div class="widget">
                                <div class="widget-title">
                                    <h4>
                                        useful links
                                    </h4>
                                </div>
                                <ul class="list-style">
                                    <li>
                                        <a href="#" title="">leasing</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">submit route</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">how does it work?</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">agent listings</a>
                                    </li>
                                    <li>
                                        <a href="#" title="">view All</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <div class="widget">
                                <div class="widget-title">
                                    <h4>
                                        download apps
                                    </h4>
                                </div>
                                <ul class="colla-apps">
                                    <li>
                                        <a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a>
                                    </li>
                                    <li>
                                        <a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a>
                                    </li>
                                    <li>
                                        <a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer -->
        </div>
        <div class="side-panel">
            <h4 class="panel-title">
                General Setting
            </h4>
            <form method="post">
                <div class="setting-row">
                    <span>use night mode</span>
                    <input type="checkbox" id="nightmode1"/>
                    <label for="nightmode1" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
                <div class="setting-row">
                    <span>Notifications</span>
                    <input type="checkbox" id="switch22" />
                    <label for="switch22" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
                <div class="setting-row">
                    <span>Notification sound</span>
                    <input type="checkbox" id="switch33" />
                    <label for="switch33" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
                <div class="setting-row">
                    <span>My profile</span>
                    <input type="checkbox" id="switch44" />
                    <label for="switch44" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
                <div class="setting-row">
                    <span>Show profile</span>
                    <input type="checkbox" id="switch55" />
                    <label for="switch55" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
            </form>
            <h4 class="panel-title">
                Account Setting
            </h4>
            <form method="post">
                <div class="setting-row">
                    <span>Sub users</span>
                    <input type="checkbox" id="switch66" />
                    <label for="switch66" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
                <div class="setting-row">
                    <span>personal account</span>
                    <input type="checkbox" id="switch77" />
                    <label for="switch77" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
                <div class="setting-row">
                    <span>Business account</span>
                    <input type="checkbox" id="switch88" />
                    <label for="switch88" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
                <div class="setting-row">
                    <span>Show me online</span>
                    <input type="checkbox" id="switch99" />
                    <label for="switch99" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
                <div class="setting-row">
                    <span>Delete history</span>
                    <input type="checkbox" id="switch101" />
                    <label for="switch101" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
                <div class="setting-row">
                    <span>Expose author name</span>
                    <input type="checkbox" id="switch111" />
                    <label for="switch111" data-on-label="ON" data-off-label="OFF">
                    </label>
                </div>
            </form>
        </div>
        <!-- side panel -->
        <script data-cfasync="false"
                src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'js/main.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/map-init.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
    </body>
</html>
