<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <title>EsieeVerse</title>
        <link rel="icon"
              href="{% static 'images/logo_esieeparis_blanc.png' %}"
              type="image/png"
              sizes="16x16" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/add_friend.css' %}" />
        <link rel="stylesheet" href="{% static 'css/color.css' %}" />
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!--<div class="se-pre-con"></div>-->
        <div class="theme-layout">
            {% include 'home/navbar.html' %}
            <section>
                <div class="gap gray-bg">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row" id="page-contents">
                                    <div class="col-lg-3">
                                        <aside class="sidebar static">
                                            <div class="widget">
                                                <h4 class="widget-title">
                                                    Shortcuts
                                                </h4>
                                                <ul class="naves">
                                                    <li>
                                                        <i class="ti-clipboard"></i>
                                                        <a href="{% url 'home:home_view' %}" title="Accueil">Fil d'actualité</a>
                                                    </li>
                                                    <li>
                                                        <i class="ti-files"></i>
                                                        <a href="#" title="Profil">Mon profil</a>
                                                    </li>
                                                    <li>
                                                        <i class="ti-user"></i>
                                                        <a href="#" title="">Mes amis</a>
                                                    </li>
                                                    <li>
                                                        <i class="ti-comments-smiley"></i>
                                                        <a href="{% url 'esieechat:select' %}" title="">Messages</a>
                                                    </li>
                                                    <li>
                                                        <i class="ti-power-off"></i>
                                                        <a href="{% url 'auth:logout' %}" title="Deconnexion">Déconnexion</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Shortcuts -->
                                            <div class="widget">  <!-- pour que le block reste collé stick-widget-->
                                                <h4 class="widget-title">
                                                    Mes Abonnés
                                                </h4>
                                                <ul class="followers">
                                                    {% for abonne in abonnes %}
                                                    {% include 'home/abonne.html' %}
                                                    {% endfor %}
                                                    <script src="{% static 'js/abonne.js' %}"></script>
                                                </ul>
                                            </div>
                                            <!-- who's following -->
                                        </aside>
                                    </div>
                                    <!-- sidebar -->
                                    <div class="col-lg-6">
                                        <div class="central-meta">
                                            <div class="sidebar">
                                                <h5 class="widget-title">
                                                    NOUVEAU POST
                                                </h5>
                                                <div class="newpst-input">
                                                    <form method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        <button type="submit">
                                                            Envoyer
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- add post new box -->
                                        <div class="loadMore">
                                            {% for evenement in evenements %}
                                            {% include "publication/evenement.html" %}
                                            {% endfor %}
                                            <script src="{% static 'js/choix_evenement.js' %}"></script>
                                            <script src="{% static 'js/inscrire_desinscrire_evenement.js' %}"></script>
                                            {% for publication in publications %}
                                            {% include "publication/publication.html" %}
                                            {% endfor %}
                                            <script src="{% static 'js/publication_like_dislikes.js' %}"></script>
                                        </div>
                                    </div>
                                    <!-- centerl meta -->
                                    <div class="col-lg-3">
                                        <aside class="sidebar static">
                                            {% include "home/statistiques.html" %}
                                            <div class="widget friend-list stick-widget">
                                                <h4 class="widget-title">
                                                    Mes abonnements
                                                </h4>
                                                <ul id="people-list" class="friendz-list">
                                                    {% for abonnement in request.user.utilisateur.abonnements.all %}
                                                        {% include "home/abonnement.html" %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <!-- friends list sidebar -->
                                        </aside>
                                    </div>
                                    <!-- sidebar -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% include "home/footer.html" %}
        </div>
        <script data-cfasync="false"
                src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'js/main.min.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="{% static 'js/map-init.js' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
    </body>
</html>
