{% load static %}
<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a href="{% url 'home:home_view' %}">
                <img src="{% static 'images/logo.png' %}" alt="">
            </a>
        </span>
    </div>
    <nav id="menu" class="res-menu">
        <ul class="main-menu">
            <li>
                <a href="{% url 'home:home_view' %}" title="accueil">Accueil</a>
                <ul>
                    <li>
                        <a href="#" title="">Mon profil</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="">ESIEE MARKETPLACE</a>
                <ul>
                    <li>
                        <a href="#" title="">Mon panier</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>