{% load static %}
<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a href="{% url 'home:home_view' %}">
                <img src="{% static 'images/logo.png' %}" alt="">
            </a>
        </span>
    </div>
    <nav id="menu" class="res-menu">
        <ul>
            <li>
                <a href="{% url 'home:home_view' %}">Accueil</a>
            </li>
            <li>
                <a href="">Profil</a>
            </li>
            <li>
                <span>Account Setting</span>
                <ul>
                    <li>
                        <a href="#" title="">create fav page</a>
                    </li>
                    <li>
                        <a href="#" title="">edit account setting</a>
                    </li>
                    <li>
                        <a href="#" title="">edit-interest</a>
                    </li>
                    <li>
                        <a href="#" title="">edit-password</a>
                    </li>
                </ul>
            </li>
            <li>
                <span>Our Shop</span>
                <ul>
                    <li>
                        <a href="#" title="">Shop Products</a>
                    </li>
                    <li>
                        <a href="#" title="">Shop Masonry Products</a>
                    </li>
                    <li>
                        <a href="#" title="">Shop Detail Page</a>
                    </li>
                    <li>
                        <a href="#" title="">Shop Product Cart</a>
                    </li>
                    <li>
                        <a href="#" title="">Product Checkout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>