{% load static %}
<div class="topbar stick">
    <div class="logo">
        <a title="accueil" href="{% url 'home:home_view' %}">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </a>
    </div>
    <div class="top-area">
        <ul>
            <li>
                <a href="{% url 'home:home_view' %}" title="Home"><i class="ti-home"></i></a>
            </li>
            <li>
                <a href="{% url 'esieechat:select' %}" title="Messages"><i class="ti-comment"></i></a>
            </li>
            <li>
                <a href="{% url 'profilSetting:profil_setting' %}" title="Profil Setting"><i class="ti-settings"></i></a>
            </li>
            <li>
                <a href="{% url 'auth:logout' %}"><i class="ti-power-off"></i></a>
            </li>
        </ul>
        <a class="user-img" href="{% url 'profil:view_profil' request.user.utilisateur.id %}">
            <img style="width: 32px; height: 32px" src="{{ request.user.utilisateur.photo_de_profile.url }}" alt="request.user.utilisateur.photo_de_profile.name">
            <span class="status f-online"></span>
        </a>
    </div>
</div>