{% load static %}
<section>
    <div class="feature-photo">
        <link rel="stylesheet" href="{% static 'css/topbar.css' %}">
        <figure>
            <img src="{% static 'images/timeline-1.jpg' %}" alt="logo">
        </figure>
        <div class="add-btn">
            <span>{{ abonnes.count }} followers</span>
            {% csrf_token %}
            {% if utilisateur != request.user.utilisateur %}
                {% if utilisateur in request.user.utilisateur.abonnements.all %}
                    <span class="abonne"
                          data-toggle="tooltip"
                          title="Abonné"
                          data-pk="{{ utilisateur.id }}"
                          class="underline">Abonné</span>
                {% else %}
                    <span class="add_friend"
                          data-toggle="tooltip"
                          title="S'abonner"
                          data-pk="{{ utilisateur.id }}"
                          class="underline">
                        S'abonner
                    </span>
                {% endif %}
            {% endif %}
        </div>
        <div class="container-fluid">
            <div class="row merged">
                <div class="col-lg-2 col-sm-3">
                    <div class="user-avatar">
                        <figure>
                            <img src="{{ utilisateur.photo_de_profile.url }}"
                                 alt="{{ utilisateur.photo_de_profile.name }}"/>
                        </figure>
                    </div>
                </div>
                <div class="col-lg-10 col-sm-9">
                    <div class="timeline-info">
                        <ul>
                            <li class="admin-name">
                                <h5>{{ utilisateur.user.get_full_name }}</h5>
                            </li>
                            <li>
                                <a class="active"
                                   href="{% url 'profil:view_profil' utilisateur.id %}"
                                   title="TimeLine">time line</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
